<template>

  <v-container style="padding-bottom: 0px">
    <v-layout>

      <v-flex xs9 offset-lg2>
        <chat-windows />
      </v-flex>

    </v-layout>
  </v-container>

</template>

<script>

  import ChatWindows from './ChatWindows'
  export default {
    components: { 'chat-windows': ChatWindows },
    data: () => ({}),
    methods: {}
  }

</script>

<style>

</style>
