<template>

  <div>
    <div class="message" v-bind:key='index' v-for="(message,index) in messages" :class="{own: message.author == username}">
      <div class="username">{{message.author}}</div>

      <!-- я нихуя непонел, поздно уже
      <div class="username" v-if="index>0 && messages[index-1].author != message.author">{{message.author}}</div>
      <div class="username" v-if="index == 0">{{message.id_user}}</div> -->
      <div style="margin-top: 5px"></div>
      <div class="content">
        <div>{{message.content}}</div>
      </div>
    </div>
  </div>

</template>

<script>

  export default {
    data() {
      return {}
    },
    props: ['messages', 'username'],
    methods: {

    }
  }

</script>

<style>

</style>
