<template>
    <div>
        <v-layout row wrap>
            <v-flex xs3 class="menu">
                <v-card>
                    <v-list two-line>
                        <v-list-tile @click="goChat">
                            <v-list-tile-action>
                                <v-icon color="secondary"> arrow_back_ios</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Назад</v-list-tile-title>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile @click="goChat">
                            <v-list-tile-action>
                                <v-icon color="secondary">message</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Диалоги</v-list-tile-title>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile @click="goScenary">
                            <v-list-tile-action>
                                <v-icon color="secondary">description</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Сценарии</v-list-tile-title>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile @click="goChat">
                            <v-list-tile-action>
                                <v-icon color="secondary">settings</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Дополнительно</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
            <v-flex xs8 offset-xs1 class="term">
                <v-card>
                    <v-img
                            height="65px"
                            gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
                            :src="require('@/assets/1.jpg')">
                        <v-card-title>
                            <div class="display-1 white--text font-weight-bold">Сценарии бесед</div>
                            <v-spacer></v-spacer>

                        </v-card-title>
                    </v-img>
                    <v-layout row style="width: 100%">
                        <v-data-iterator
                            :items="items"
                            item-key="name"
                            :rows-per-page-items="rowsPerPageItems"
                            :pagination.sync="pagination"
                            content-tag="v-layout"
                            :expand="expand"
                            row
                            wrap
                            class="scenario-iter"
                    >
                        <template v-slot:item="props">
                            <v-flex xs12 class="scenario">
                                <v-card >
                                    <v-card-title>
                                        <h4>{{ props.item.name }}</h4>
                                        <v-spacer></v-spacer>
                                        <v-switch
                                                v-model="props.expanded"
                                                :label="(props.expanded) ? 'Закрыть' : 'Развернуть'"
                                                color="primary"
                                                value="primary"
                                                class="switch-scenario"
                                        ></v-switch>
                                    </v-card-title>

                                    <v-card-title class="scenario-title">

                                       <v-layout row>
                                           <v-flex xs8>
                                               <h4>Описание: <br/></h4>
                                               {{props.item.description}}
                                           </v-flex>
                                           <v-flex offset-xs1 xs2>
                                               <v-btn flat icon color="primary">
                                                   <v-icon>edit</v-icon>
                                               </v-btn>
                                           </v-flex>
                                       </v-layout>

                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-list v-if="props.expanded" dense>
                                        <v-list-tile>
                                            <v-list-tile-content>test:</v-list-tile-content>
                                            <v-list-tile-content class="align-end">{{ props.item.calories }}</v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-content>test:</v-list-tile-content>
                                            <v-list-tile-content class="align-end">{{ props.item.fat }}</v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-content>test:</v-list-tile-content>
                                            <v-list-tile-content class="align-end">{{ props.item.carbs }}</v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-content>test:</v-list-tile-content>
                                            <v-list-tile-content class="align-end">{{ props.item.protein }}</v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-content>test:</v-list-tile-content>
                                            <v-list-tile-content class="align-end">{{ props.item.sodium }}</v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-content>test:</v-list-tile-content>
                                            <v-list-tile-content class="align-end">{{ props.item.calcium }}</v-list-tile-content>
                                        </v-list-tile>
                                        <v-list-tile>
                                            <v-list-tile-content>test:</v-list-tile-content>
                                            <v-list-tile-content class="align-end">{{ props.item.iron }}</v-list-tile-content>
                                        </v-list-tile>
                                    </v-list>
                                </v-card>
                            </v-flex>
                        </template>
                    </v-data-iterator>
                    </v-layout>


                </v-card>

            </v-flex>
        </v-layout>
    </div>
</template>
<script>
    const axios = require('axios')
    import ip_adress from '../../ip_adress'
    export default {
        name:'scenary',
        data (){
            return {
                expand: false,
                dialogue:[],
                items: [
                    {
                        name: 'Тестирование на депрессивные состояния',
                        description: 'Тестирование проводится на основе ответов пользователя о самодиагностике',
                        calories: 'Чо-то',
                        fat: 'Чо-то',
                        carbs: 'Чо-то',
                        protein: 'Чо-то',
                        sodium: 'Чо-то',
                        calcium: 'Чо-то',
                        iron: 'Чо-то'
                    },

                    {
                        name: 'Тестовый диалог',
                        description: 'Чо-то',
                        calories: 'Чо-то',
                        fat: 'Чо-то',
                        carbs: 'Чо-то',
                        protein: 'Чо-то',
                        sodium: 'Чо-то',
                        calcium: 'Чо-то',
                        iron: 'Чо-то'
                    },
                ],
            }
        },
        mounted: {
            dialogues(){
                axios({
                    method: 'get',
                    url: 'http://'+ ip_adress() +'/api/dialogues',
                    headers: { 'Authorization': 'Token ' + this.$store.auth.token }
                }).then(response => {
                    console.log(response)
                    this.dialogue.append(response)
                })
            }
        },
        created(){
         this.$store.dispatch('loadDialogs')
        },
    }
</script>
<style>
    .menu{
        margin-top: 6%;
        padding-left: 4%;


    }

    .menu > .v-list {
        /* border: 1px solid #4caf50; */
        border-radius: 3px;
        /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    }

    .term{
        margin-top: 6%;
    }
    .term > .v-card{
        width: 98%;
    }

    .scenario-iter{
        width: 100%;
        margin-top: 4%;
    }
    .scenario{
        margin-bottom: 12px;
        margin-left: 6%;
        margin-right: 6%;
    }
    .scenario .switch-scenario{
        position: absolute;
        right: 10px;
    }
    .scenario-title .xs2{
        margin-top: 2%;
    }

</style>