<template>

  <v-app>
    <v-toolbar app color="primary">
      <v-toolbar-title class="headline text-uppercase">
        <span>Штуки</span>
        <span class="font-weight-light">ШТУКОВЫЕ</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
       <span>  Дарова, {{this.$store.state.auth.username}}  </span>
       <v-btn flat style="height: 100%" @click="goAdminPage">Админская</v-btn>
       <v-btn color="secondary" v-on:click="logout"> <span>Выйти</span> </v-btn>
    </v-toolbar>

    <v-dialog v-model="userAuthorized" width="500" persistent>
      <v-card>
        <loginView v-if="loginAdmin"></loginView>
      </v-card>
    </v-dialog>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>

</template>

<script>

import LoginView from './components/LoginView.vue'

const axios = require('axios');

  export default {
    name: 'App',
    components: {
      loginView : LoginView
    },
    computed: {
      userAuthorized() {
        return !this.$store.state.auth.authorized;
      }
    },
    data() {
      return {
        loginDialog: true,
        loginAdmin: true
      }
    },
    methods: {
      logout() {
        this.$store.dispatch('logout')
      },
      goAdminPage(){
          this.$router.push('admin')
      }
    }
  }

</script>
