<template>
    <div>
        <v-layout row wrap>
            <v-flex xs3 class="menu">
                <v-card>
                    <v-list two-line>
                        <v-list-tile @click="goChat">
                            <v-list-tile-action>
                                <v-icon color="secondary"> arrow_back_ios</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Назад</v-list-tile-title>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile @click="goChat">
                            <v-list-tile-action>
                                <v-icon color="secondary">message</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Диалоги</v-list-tile-title>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile @click="goScenary">
                            <v-list-tile-action>
                                <v-icon color="secondary">description</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Сценарии</v-list-tile-title>
                        </v-list-tile>
                        <v-divider inset></v-divider>
                        <v-list-tile @click="goChat">
                            <v-list-tile-action>
                                <v-icon color="secondary">settings</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>Дополнительно</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
            <v-flex xs8 offset-xs1 class="term">
                <v-card>
                    <v-img
                            height="65px"
                            gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
                            :src="require('@/assets/9.jpg')">
                        <v-card-title>
                            <div class="display-1 white--text font-weight-bold">Последние сообщения</div>
                            <v-spacer></v-spacer>

                        </v-card-title>
                    </v-img>

                    <v-list two-line>
                        <template v-for="(item, index) in items">
                            <v-list-tile
                                    :key="item.title"
                                    avatar
                                    ripple
                                    @click="toggle(index)"
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                    <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                                    <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                                </v-list-tile-content>

                                <v-list-tile-action>
                                    <v-list-tile-action-text>{{ item.action }}</v-list-tile-action-text>
                                    <v-icon
                                            v-if="selected.indexOf(index) < 0"
                                            color="indigo darken-3"
                                    >
                                        warning
                                    </v-icon>

                                    <v-icon
                                            v-else
                                            color="teal lighten-1"
                                    >
                                        thumb_up
                                    </v-icon>
                                </v-list-tile-action>

                            </v-list-tile>
                            <v-divider
                                    v-if="index + 1 < items.length"
                                    :key="index"
                            ></v-divider>
                        </template>
                    </v-list>
                </v-card>

            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import ListScenary from '../components/Scenario/ListScenary.vue'
    import ListKeyword from '../components/ListKeyword.vue'
    import ListReplick from '../components/ListReplick.vue'
    import ListChat from '../components/ListChat.vue'
    import ListExtensions from '../components/ListExtensions.vue'
    export default {
        name: 'adminPage',
        components: [{'scenary': ListScenary}, {'keyword': ListKeyword}, {'replick': ListReplick},{'chat': ListChat}, {'extensions': ListExtensions}],
        data: () => ({
            selected: [5, 4, 3, 6, 2],
            items: [
                {
                    action: '15:54:32',
                    headline: 'Представь, что я ёж и ем яблочки, но я не ем яблочки. Но представь, что ем',
                    title: 'Иванов Иван',
                    subtitle: ""
                },
                {
                    action: '15:22:13',
                    headline: 'Очень грустно, на самом деле. Каждый день одно и тоже, ...',
                    title: 'Scrott',
                    subtitle: "уже надоело, хочу чего-то нового. Прыгать с самолета или плавать на яхте. Да, именно ..."
                },
                {
                    action: '14:19:54',
                    headline: 'На самом деле я рад, что Железный Трон стал моим, конечно ...',
                    title: 'Сломленный',
                    subtitle: 'я обещаю хорошо себя вести. В любом случае не убегу, настрой на позитив!'
                },
                {
                    action: '14:05:17',
                    headline: 'Конечно это лучше, чем драконы. Господи, что угодно лучше ...',
                    title: 'Неопознанный гигант',
                    subtitle: "чем драконы и их хозяйка. После их ухода станет только лучше. Все отстроим заново."
                },
            ],
        }),
        methods: {
            goChat(){
                this.$router.push('/')
            },
            goScenary(){
                this.$router.push('/scenary')
            },
            toggle (index) {
                const i = this.selected.indexOf(index)

                if (i > -1) {
                    this.selected.splice(i, 1)
                } else {
                    this.selected.push(index)
                }
            }
        },
        mounted: {

        },
    }
</script>

<style>
    .menu{
        margin-top: 6%;
        padding-left: 4%;


    }

    .menu > .v-list {
        /* border: 1px solid #4caf50; */
        border-radius: 3px;
        /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    }

    .term{
        margin-top: 6%;
    }
    .term > .v-card{
        width: 98%;
    }
</style>